/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
*{
    margin: 0em;
    /*background-color: #e8dcb5;*/
}

body{
    background-color: #e8dcb5;
}

header{
    color: white;
    font-family: didot, serif;
    font-size: 24pt;
    text-align: center;
    padding: 1.0em;
    background-color: #bc5827;
}

footer{
    background-color: #bc5827;
    color: white;
    padding: 0.3em;
    font-size: 10pt;
}

h1{
    font-family: didot, serif;
    font-size: 36pt; 
    text-align: center;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
}

h2{
    font-family: didot, serif;
    font-size: 22pt;
    margin: auto;
}

h3{
    font-family: didot, serif;
    font-size: 18pt;
    margin: auto;
}

article{
    margin: 1.5em;
}

/*ul{
    list-style-type: square;
}*/

/*ol{
    list-style-type: upper-roman;
}
*/
li{
    padding: 2pt;
}

img{
    padding: 0em;
}

a{
    text-decoration: none;
    padding: 0.5em;
}

figcaption{
    font-size: 6pt;
    text-align: center;
}

div{
    text-align: center;
    margin: auto;
}

.img-right{
    float: right;
}

.recipe-link{
    margin: auto;
}

.country-link{
    max-width: 400px;
}

.country{
    display: inline-block;
}

.logo{
    max-width: 150px;
    float: left;
    margin-top: -15px;
    margin-left: -5px;
}

@media only screen and (max-width: 497px) {
    .img-right {
        clear: right;
        text-align: center;
        width: 100%;
        display: block;
    }
}

nav a:hover{
    text-decoration: underline;
    color: black;
    background: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: red;
    position: fixed;
    height: 100%;
    overflow: auto;
}

nav a {
    display: block;
    width: 90px;
}

/*nav li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a.active {
    background-color: #4CAF50;
    color: white;
}

nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/

fieldset {
    border: none;
}