/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
*{
    margin: 0em;
    /*background-color: #e8dcb5;*/
}

body{
    background-color: #e8dcb5;
}

header{
    color: white;
    font-family: didot, serif;
    font-size: 24pt;
    text-align: center;
    padding: 1.0em;
    background-color: #bc5827;
}

footer{
    background-color: #bc5827;
    color: white;
    padding: 0.3em;
    font-size: 10pt;
}

h1{
    font-family: didot, serif;
    font-size: 36pt; 
    text-align: center;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
}

h2{
    font-family: didot, serif;
    font-size: 22pt;
    margin: auto;
}

article{
    margin: 1.5em;
}

ul{
    list-style-type: square;
}

ol{
    list-style-type: upper-roman;
}

li{
    padding: 2pt;
}

img{
    padding: 0em;
}

a{
    text-decoration: none;
    padding: 0.5em;
}

figcaption{
    font-size: 6pt;
    text-align: center;
}

div{
    text-align: center;
    margin: auto;
}

.img-right{
    float: right;
}

.recipe-link{
    margin: auto;
}

.country-link{
    max-width: 400px;
}

.country{
    display: inline-block;
}

@media only screen and (max-width: 497px) {
    .img-right {
        clear: right;
        text-align: center;
        width: 100%;
        display: block;
    }
}
